.App {
  text-align: center;
}

#numerador {
  display: flex;
  justify-content: center;
  border: 2px dotted blue;
  border-width: 2px;
}

#numerador div {
 padding: 4px 4px 0px 4px;
}

#numero {
  display: flex;
  justify-content: center;
}

#general {
  width: 25%;
  display: flex;
  justify-content: space-around;
}